<!DOCTYPE html>
<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title> 
  <style type="text/css">
    body { text-align: center; font-family: arial, sans-serif; }
    div.dialog {
      width: 25em;
      padding: 0 4em;
      margin: 4em auto 0 auto;
      border: 1px solid #ccc;
      border-right-color: #999;
      border-bottom-color: #999;
      background-color: #123456;
    }
    h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
  </style>
</head>

<body>
  <!-- This file lives in public/404.html -->
  <div class="dialog">
	  <p><IMG SRC="/images/filenotfound.png" height="200" width="200"/></p>
	  <h1><i>It seems the page you are trying to find on  my website is not around  anymore.</i></h1>
	  <p><font color ="white">Please report this on <a href="mailto:sindi@comitant.com">sindi@comitant.com</a> ,and please return to the Home Page.</font></p>
  </div>
</body>
</html>
