<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
    div.dialog {
      width: 25em;
      padding: 0 4em;
      margin: 4em auto 0 auto;
      border: 1px solid #ccc;
      border-right-color: #999;
      border-bottom-color: #999;
      background-color: #123456;
    }
    h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
  </style>
</head>

<body>
  <!-- This file lives in public/500.html -->
  <div class="dialog">
	  <p><img src="/images/failraptor_png_scaled500.png" height="300" width="300"/></p>
	  <p><font color ="white">Please report this on <a href="mailto:sindi@comitant.com">sindi@comitant.com</a> ,and please return to the Home Page.</font></p>
  </div>
</body>
</html>
